@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin:0px;
    padding:0px;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
h1{
    font-family: 'Pacifico';
    color:blue;
    text-decoration: underline;
    text-decoration-color:black;
}
.input_text{
    width: 300px;
}
.addbtn{
    width:100px;
    margin-left: 30%;
    background-color:blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}
.nextbtn{
    background-color: blue;
    width:120px;
    position:absolute;
    top:90%;
    left: 85%;
    height:50px;
}
button{
    font-family: 'Pacifico';
}
.loserbtn{
    background-color: blue;
    width:150px;
    position:absolute;
    top:90%;
    left: 72%;
    height:70px;
}
.startbtn{
    background-color: blue;
    width:150px;
    position:absolute;
    top:90%;
    left: 85%;
    height:70px;
}
h3{
    text-align: center;
    color:black;
    font-family: 'Pacifico';
    margin-top: 5px;
}
h4{
    color:blue;
    text-decoration: underline;
    text-decoration-color:black;
    font-family: 'Pacifico';
    text-align: center;
}